<!DOCTYPE html>
<html>
	<head>
	  	<title>VideoConverter</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	</head>

	<body>
		<div class="title">
			<h1>VideoConverter</h1>
		</div>

		<div class="upload">
				<form action='/upload' method='post' enctype='multipart/form-data'>
					<input name='image' type='file'/>
					<input type='submit'>
				</form>
		</div>

		<div class="container">
			<h1>Assistir ao video</h1>
		</div>
	</body>
</html>
