<!DOCTYPE html>
<html>
	<head>
	  	<% include ../partition/header.ejs %>
	</head>

	<body>
		<div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">AppVideoConverter</h3>
      </div>

			<div class="alert alert-success alert-dismissible fade in" role="alert" style="display:none;" id="alSuccess">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    		<span aria-hidden="true">&times;</span>
			  	</button>
					<strong>Sucesso!</strong> Video foi convertido é pode ser visualizado na seção abaixo.
			</div>
	 	  <div class="alert alert-info alert-dismissible fade in" role="alert" style="display:none;" id="alInfo">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				 		<span aria-hidden="true">&times;</span>
					</button>
					<strong> Processo de conversão do video foi iniciado e poderá levar alguns minutos. </strong>
	 	  </div>
			<div class="alert alert-danger alert-dismissible fade in" role="alert" style="display:none;" id="alDanger">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    		<span aria-hidden="true">&times;</span>
			  	</button>
					<strong>Erro!</strong> Falha no processo de conversão do video.
			</div>

			<div class="jumbotron">
				 <h2>Converte Videos</h2>
				 <p class="lead">Aplicação Web que possibilita a conversão de arquivos de video de um formato
					 específico, não compatível com os padrões da web, para um formato que seja compatível com os padrões da web.</p>
				 <br />
				 <form method="POST" enctype="multipart/form-data">
					  <div class="form-group">
					    <label for="file_input" class="control-label">Selecione um arquivo:</label>
					    <input type="file" id="file_input" class="file" data-show-preview="false">
					  </div>
				</form>
				<button type="submit" class="btn btn-primary" id="btnConvert">Converter Video</button>
			</div>
			<div class="jumbotron">
				<h2>Assistir Video</h2>
				<p class="lead">Possibilita a visualização dos videos após sua conversão para um formato padrão da web.</p>
				<center>
					<video width="640" height="480" controls="controls"  id="video">
				 			<source src="#" type="video/mp4">
							<source src="#" type="video/webm">
							<object data="" width="640" height="480">
									<embed width="640" height="480" src="#">
							</object>
					</video>
				</center>
		 </div>
	 </div>
	 <script>
	 		var video = document.getElementById("video");
			video.style.display="none";

	 		$("#btnConvert").click(function(){
					var files = document.getElementById("file_input").files;
					var file = files[0];
					if(file == null){
							//apresentar um alert
							$('#alDanger').fadeTo(2000,500).slideUp(5000, function(){
									$('#alDanger').alert();
							});

					}
					else{
						getRequestToUploadFile(file);
					}
			});

			function getRequestToUploadFile(file){
					var xhr = new XMLHttpRequest();
			    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
					xhr.onreadystatechange = function(){
			        if(xhr.readyState === 4){
			            if(xhr.status === 200){
					            var response = JSON.parse(xhr.responseText);

											//apresentar um alert
											$("#alInfo").fadeTo(2000,500).slideUp(5000, function(){
													$("#alInfo").alert();
											});

											//resetar valores
											var input = $("#file_input");
											input.replaceWith(input = input.clone(true));

											//chamada do método para fazer de fato upload
											uploadFile(file, response.signed_request, response.url);
			            }
			            else{
											//apresentar um alert
											$('#alDanger').fadeTo(2000,500).slideUp(5000, function(){
													$('#alDanger').alert();
											});
			            }
			        }
			    };
			    xhr.send();
			}

			function uploadFile(file, signed_request, url){
					var xhr = new XMLHttpRequest();
					xhr.open("PUT", signed_request);
			    xhr.setRequestHeader('x-amz-acl', 'public-read');
			    xhr.onload = function() {
								if (xhr.status === 200) {
									//processo de upload finalizado -> requisição de conversão
									initProcessConvertFile(file);
			        }
			    };
			    xhr.onerror = function() {
							//apresentar um alert
							$('#alDanger').fadeTo(2000,500).slideUp(5000, function(){
									$('#alDanger').alert();
							});
			    };
			    xhr.send(file);
			}

			function initProcessConvertFile(file){
					let name = (file.name).substring(0, ((file.name).length - 4));
					let format = "mp4";
					let newName = name.concat("_converted.", format);
					let url = "https://s3-sa-east-1.amazonaws.com/apsambatech/"+file.name;

					var xhr = new XMLHttpRequest();
					xhr.open("GET", "/zencoder?file_name="+newName+"&url="+url);
					xhr.onreadystatechange = function(){
						console.log("onreadystatechange");
						if(xhr.readyState === 4){
								console.log("readyState");
								if(xhr.status === 200){
										console.log("status");
										var response = JSON.parse(xhr.responseText);
										console.log("response: "+response);

										let urlConverted = "https://s3-sa-east-1.amazonaws.com/apsambatech/"+newName;
										video.style.display="inline";
										video.src = urlConverted;
										video.value = urlConverted;

										$('#alSuccess').fadeTo(2000,500).slideUp(5000, function(){
												$('#alSuccess').alert();
										});
								}
						}
					}
					xhr.send();
			}
	 </script>
	</body>
</html>
